/*задача 1*/

.eee.zzz.ccc {
.bbb.zzz {
	color: red;
} 
}

/*задача 2*/

h2.bbb.zzz {
	color: darkcyan;
}

/*задача 3*/

#elem.bbb {
	color: mediumblue;
}

/*задача 4*/

#elem.bbb.zzz {
	color: palegoldenrod;
}

/*задача 5*/

h2#elem.bbb {
	color: cyan;
}

/*задача 6*/

h2.zzz {
	color: skyblue;
}

/*задача 7*/

h2 .zzz {
	color: mintcream;
}

/*задача 8*/

.bbb1.zzz {
	color: hotpink;
}

/*задача 9*/

.bbb1 .zzz {
	color: rosybrown;
}

/*задача 10*/

.bbb.zzz.xxx {
	color: blueviolet;
}

/*задача 11*/

.bbb1 .zzz.xxx {
	color: lawngreen;
}

/*задача 12*/

.bbb1.zzz1 .xxx {
	color: khaki;
}

/*задача 13*/

.bbb1 .zzz1 .xxx {
	color: indigo;
}

/*задача 14*/

#elem.bbb1 {
	color: navy;
}

/*задача 15*/

#elem .bbb {
	color: firebrick;
}